<span class="input-group">
  <span class="input-group-btn">
      <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[<%= product.id %>]">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
  </span>

    <input type="text" name="quant[<%= product.id %>]" class="form-control input-number product-number" variant_id ="<%= product.id %>" value="0" min="0" max="100000000">

  <span class="input-group-btn">
      <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[<%= product.id %>]">
          <span class="glyphicon glyphicon-plus"></span>
      </button>
  </span>
</span>
